body{
    max-height: 100%;
    max-width: 100%;
    margin: 0;
    font-family: helvetica,sans-serif;
    background-size: cover;
}
#back{
    position: fixed;
    height: 100%;
    width: 100%;
    background-size: cover;
}


#login{
   position:absolute;
    top: 13%;
    left: 44%;
    transform: translate(-50%, -50%);
}
#signup{
    position:absolute;
    top: 13%;
    left: 57%;
    transform: translate(-50%, -50%);
}
.login{
   font-size: 25px;
   height: 35px;
   width: 160px;
   background-color:white;
   border: 2px solid #666;
   border-radius: 5px;
   cursor: pointer;
    opacity: 0.6;

}
.login:hover{
    opacity:1;
    filter: none;
    transition: 1s ease;
}

.box{
     position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}
#box2{
    display: none;
}
.box4{

    padding: 10px;
    color:black;
    font-size: 20px;
    font-weight: bolder;
    width: 400px;
    height: 400px;
    border: #666 2px solid;
    border-radius: 5px;
    background-color: white;
    opacity: 0.6;
    transition: 1s ease;
}

.box4:hover{
    color: black;
    opacity:1;
    filter: none;
    transform: scale(1.25);
    transition: 1s ease;
}
.box4:hover .details{
    color: #666;
    border: #666666 1px solid;
}
.box h2{
    text-align: center;
}
.form{
    position: relative;
  top: 40%;
  transform: translateY(-45%);
}
.details{
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 20px;
    color:#666;
    height: 40px;
    width: 225px;
    border: #666666 1px solid;
    border-radius: 3px;
}
a{
    color: #365899;
}
.forgot{
    margin-top: 5px;
    margin-left: 120px;
    font-size: 11px;
}
.submit{
    cursor: pointer;
    width:120px;
    height: 35px;
    opacity:.8;
    background: linear-gradient(#e6e6e6,#d9d9d9,#cccccc);
    border: #666666 1px solid;
    border-radius: 5px;
}
#signuph2{
    margin-bottom: 0px;
}
#warning{
    height: 10px;
    font-size: 10px;
    margin:5px 0 0 0;
}
#notmatch{
    height: 28px;
    font-size: 10px;
    margin:5px 0 0 0;
}